/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');


html {
	font-family: 'Manrope', sans-serif; 
	color: #FCFCFC;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #101010;
}

@font-face {
	font-family: 'Akira Expanded';
	src: url(fonts/Akira_Expanded_Demo.otf);
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: center;
	padding: 2px;
	background-color: #101010;
	position: fixed;
	width: 100%;
}

.navbar h1 {
	font-family: 'Akira Expanded';
}

a:hover {
	color: #A60016;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #FCFCFC;
}

/* header */
.heading {
	display: grid;
	padding-top: 5em;
	grid-template-columns: 2fr 2fr;
	gap: 2px;

}

hr {
	background-color: #FFF;
	border: none;
	height: 10px;
	width: 40em;
	margin: auto;
}

.headText {
	font-family: 'Akira Expanded';
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 4em;
	margin-right: 15px;
	text-align: right;
	color: white;
}

.memberDiv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: 2 / span 2;
	align-items: center;
}

.headerImg {
	width: 100%;
	object-fit: cover;
}

.nameDiv {
	grid-template-rows: repeat(5, 1fr);
	font-family: 'Akira Expanded';
}

.chae, .sakura, .yunjin, .kazuha, .eunchae {
	font-size: 2.8rem;
	grid-area: 1/2/5/-1;
	margin-left: -1em;
}

.memberLink {
	text-decoration: none;
	margin: 0;
}

.bottomLine {
	position: absolute;
	margin: 100px auto auto 100px;
}

/* content (JSON STUFF) */

#memberContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 1em;
	margin-right: auto;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	align-items: space-around;
}

.name {
	font-family: 'Akira Expanded';
	font-size: 2em;
/*	transform: rotate(90deg);*/
	margin-top: 5em;
	margin-bottom: 0;
}

.memberPic {
	object-fit: cover;
	width: 50%;
}











